praw
icrawler
moviepy==1.0.0 # https://github.com/Zulko/moviepy/issues/938
pywin32
pyttsx3
gtts
pydub
google-api-python-client
oauth2client
git+https://github.com/DeepHorizons/tts
google_images_download
